.navbar.home {
  height: 10%;
  background-color: white;
  border: none;

  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;

    #overview {
      visibility: visible;
    }

}

#navbarBrand {
  position: relative;
  max-height: 50px;
  background-size: contain;
}
