#navbar {
  height: 100px;
  background-color: DarkSlateGrey;
  border: none;

  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;

    #overview {
      visibility: visible;
    }

}

.dashbar {
    margin-top:5px;
    margin-left:5px;
}

.logout {
    margin-top:5px;
    margin-right:5px;
}

.grid-bounds {
    margin-top: 10%;
    margin-bottom: 10%;
    max-height: 80%;
    position: relative;
    object-fit: contain;
}

#navbarBrand {
  position: relative;
  max-height: 50px;
  margin-left:5px;
  background-size: contain;
}
