#navbar {
  height: 50px;
  background-color: white;
  border: none;

  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;

    #overview {
      visibility: visible;
    }

}

.logout {
    margin-top:10px;
}

NavDropdown {
    margin-top:10px;
}



.grid-bounds {
    margin-top: 10%;
    margin-bottom: 10%;
    max-height: 80%;
    position: relative;
    object-fit: contain;
}

#navbarBrand {
  position: relative;
  max-height: 50px;
  background-size: contain;
}
