.LoginPage {
    height:100%;
    background-color: LightSlateGrey;
    overflow:hidden;
}

#text-fields {
    position: relative;
    max-width: 25%;
    object-fit: contain;
}

#logo {
    position: relative;
    max-height: 100%;
    object-fit: contain;
}

@media (max-height: 350px) {
    #text-fields {
        position: relative;
        float: left;
        margin-left: 5%;
        margin-right: auto;
    }
    #buttons {
        position: relative;
        float: right;
        margin-right: 5%;
        margin-left: auto;
    }
}

@media (min-height: 350px){
    #text-fields {
        position: relative;
    }
    #buttons {
        position: relative;
    }
}

.navbar.login {
    height: 25%;
    background-color: DarkSlateGrey;
    border: none;


    font: Arial;
    font-weight: bold;
    color: #00aced;

    z-index: 100;
    transition: background-color 1s ease 0s;

      #overview {
        visibility: visible;
      }
}

.header-placeholder {
  height: 30%;
}

/*add some cool colors*/

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
