.LoginPage {
    height:100%;
    background-color: LightSlateGrey;
}

#text-fields {
    margin-top: 10px;
    position: relative;
    width: 250px;
    object-fit: contain;
}

.divider{
    width: 15px;
    height: auto;
    display:inline-block;
}

#logo {
    position: relative;
    max-height: 100%;
    object-fit: contain;
}

@media (max-height: 1000px) {
    .LoginPage {
        overflow:visible;
    }
}

@media (min-height: 1000px){
    .LoginPage {
        overflow:hidden;
    }
    #text-fields {
        position: relative;
    }
    #buttons {
        position: relative;
    }
}

.login {
    height: 25%;
    background-color: DarkSlateGrey;
    border: none;

    font: Arial;
    font-weight: bold;
    color: #00aced;

    z-index: 100;
    transition: background-color 1s ease 0s;

      #overview {
        visibility: visible;
      }
}

/*add some cool colors*/

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
